<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ssafit.model.dao.BoardDao">
	
	<resultMap type="Board" id="boardMap">
		<result column="no" property="no" />
		<result column="writer_no" property="writerNo" />
		<result column="title" property="title" />
		<result column="context" property="context" />
		<result column="reg_date" property="regDate" />
		<result column="view_cnt" property="viewCnt" />
	</resultMap>
	
	<!-- 게시글 등록하기 -->
	<insert id="insertBoard" parameterType="Board" keyProperty="no" useGeneratedKeys="true">
		INSERT INTO board (no, writer_no, title, context, reg_date, view_cnt)
		VALUES (#{no}, #{writerNo}, #{title}, #{context}, NOW(), 0)
	</insert>
	
	<!-- 게시글 전체 목록 조회하기 -->
	<select id="selectAll" resultMap="boardMap">
		SELECT no, writer_no, title, context,
		date_format(reg_date, '%Y-%m-%d %H:%i:%s') as reg_date, view_cnt
		FROM board
	</select>
	
	<!-- 검색 조건 있으면 이걸로 쓰기
	<select id="selectList" resultMap="boardMap" parameterType="java.util.HashMap">
		SELECT id, title, writer, content, view_cnt,
		date_format(reg_date, '%Y-%m-%d %H:%i:%s') as reg_date
		FROM board
		<if test="mode == 1">
			WHERE title LIKE CONCAT('%', #{keyword},'%')
		</if>
		<if test="mode == 2">
			WHERE content LIKE '%${keyword}%'
		</if>
		<if test="mode == 3">
			WHERE title LIKE CONCAT('%', #{keyword},'%')
			OR content LIKE '%${keyword}%'
		</if>
	</select>
	-->

	<!-- 게시글 하나의 상세정보 조회하기 -->
	<select id="selectOne" resultMap="boardMap" parameterType="int">
		SELECT no, writer_no, title, context,
		date_format(reg_date, '%Y-%m-%d %H:%i:%s') as reg_date, view_cnt
		FROM board
		WHERE no = #{no}
	</select>
	
	<!-- 게시글 삭제하기 -->
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM board WHERE no = #{no}
	</delete>

	<!-- 게시글 수정하기 -->
	<update id="updateBoard" parameterType="Board">
		UPDATE board
		SET
		title = #{title},
		context = #{context}
		WHERE no = #{no}
	</update>
	
	<!-- 내가 작성한 게시글 목록 조회하기 -->
	<select id="selectMyBoardList" resultMap="boardMap" parameterType="int">
		SELECT no, writer_no, title, context,
		date_format(reg_date, '%Y-%m-%d %H:%i:%s') as reg_date, view_cnt
		FROM board
		WHERE writer_no = #{writerNo}
	</select>
	
</mapper>